:root {
  /* UI variables */
  --white: #ffffff;
  --transparent-white: #FFFFFF87;
  --light-grey: #f9f9f9;
  --grey-text: #213547;
  --dark-grey: #242424;
  --grey: #323232;
  --red: #ff2221;
  --blue: #2255FF;
  --purple: #646cff;
  --link: var(--purple);
  --link-hover: #535bf2;
  --light-link-hover-color: #747bff;
  --container-color: var(--grey);
  --list-item-color: var(--dark-grey);
  --list-item-background: var(--light-grey);
  --border-color: var(--purple);
  --button-color: var(--blue);
  --light-background: var(--white);
  --dark-background: var(--dark-grey);
  --border-radius: 0.2rem;
  --text-padding:  0.5ch 1.5ch;
  /* Globals */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--transparent-white);
  background-color: var(--dark-background); 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; 
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover);
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: var(--text-padding);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--border-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--grey-text);
    background-color: var(--light-background);
  }
  a:hover {
    color: var(--light-link-hover-color);
  }
  button {
    background-color: var(--light-button-color);
  }
}
