.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--text-padding);
  color: var(--list-item-color);
  background-color: var(--list-item-background);
  border-radius: var(--border-radius);
}

.checkbox {
  margin: 0;
  margin-right: 1ch;
  height: 1rem;
  width: 1rem;
  background-color: var(--white);
}

.button {
  padding: 0;
  color: var(--red);
  background: none;
  border-width: 0;
}

.button:hover {
  border-width: 0;
}
