.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.underline {
  width: 100%;
  border-bottom: .1rem solid var(--transparent-white);
}

.button {
  display: flex;
  align-items: center;
  gap: 1ch;
  background: none;
  color: var(--red);
}

.button:hover {
  border-color: var(--red);
}

.dialog {
  border-radius: var(--border-radius);
  text-align: center;
}

.dialog::backdrop {
  pointer-events: none;
  background: #0005;
  backdrop-filter: blur(.5rem);
}

.actions {
  display: flex;
  align-self: flex-end;
  gap: 1ch;
  margin-top: 1rem;
}

.cancel {
  background-color: var(--grey);
}

.confirm {
  background-color: var(--red);
}
