.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--text-padding);
  color: var(--list-item-color);
  background-color: var(--list-item-background);
  border-radius: var(--border-radius);
}
